* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  font-family: "Roboto", "Source+Code+Pro", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  color: white;
  background: #181818;
}

.header {
  display: grid;
  height: 8.625rem;
  padding: 0 0 4.5625rem;
  color: #EEEEEE;
  max-width: 75.3125rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1024px) {
  .header {
    max-width: 56.25rem;
  }
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__item {
    gap: 1.875rem;
  }
}

.nav__item {
  padding: 0.25rem;
  margin: 1rem;
}
@media (max-width: 1024px) {
  .nav__item {
    margin: 0.5rem;
  }
}
.nav__item .arrow {
  margin: 0 0 0.1875rem 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  display: inline-block;
  padding: 0.1875rem;
}
.nav__item .down {
  transform: rotate(45deg);
}

.header__button {
  gap: 1rem;
}
@media (max-width: 1024px) {
  .header__button {
    gap: 0.5rem;
  }
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  border-radius: 0.25rem;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.button--start {
  background: #24B47E;
}
.button__sign {
  background: none;
  color: #EEEEEE;
}
.button__blue {
  background: #1374EF;
}
.button__opportunities {
  margin-bottom: 7rem;
  padding: 0.125rem 0.625rem;
  max-width: 6.0625rem;
  max-height: 1.25rem;
  text-align: center;
  color: #4299E1;
  background: rgba(49, 130, 206, 0.1);
  border-radius: 624.9375rem;
}
.button__tab {
  text-align: center;
  padding: 0.4375rem 0.6875rem;
  min-width: 5.625rem;
  min-height: 1.875rem;
  background: #2A2A2A;
  box-shadow: 0px 0.125rem 0px rgba(0, 0, 0, 0.043);
  border-radius: 0.25rem;
}
.button__doc {
  max-width: 12.8125rem;
  background: #2A2A2A;
  border: 0.0625rem solid #2A2A2A;
  box-shadow: 0px 0.125rem 0px rgba(0, 0, 0, 0.043);
  border-radius: 0.25rem;
  padding: 0.625rem 0.8125rem;
}

.opportunities {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: auto;
  max-width: 75.3125rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  flex: 1 1 50%;
  margin: 0 auto 10.4375rem;
}
@media (max-width: 1024px) {
  .opportunities {
    max-width: 56.25rem;
  }
}
.opportunities__body {
  max-width: 75.3125rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .opportunities__body {
    max-width: 56.25rem;
  }
}
.opportunities__body--nogap {
  gap: 0;
}
.opportunities__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.opportunities__main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0 -15px;
}
.opportunities__main--row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: auto;
  flex: 1 1 50%;
}
.opportunities__main--reverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex: auto;
  flex: 1 1 50%;
}
.opportunities__img {
  justify-content: flex-end;
}
.opportunities__img--padding {
  padding: 0 15px;
}
.opportunities__img img {
  max-width: 100%;
}
.opportunities__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}
.opportunities__icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  line-height: 1.75rem;
}
.opportunities__icon img {
  max-width: 100%;
}
.opportunities__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.625rem;
  color: #FFFFFF;
}
.opportunities__subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #E0E0E0;
}
.opportunities__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 26.375rem;
  padding: 0 15px;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #E0E0E0;
}
.opportunities__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: auto;
  display: inline-flex;
  align-items: flex-end;
}
.opportunities__footer--container {
  max-width: 24.25rem;
}
.opportunities__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 17.5rem;
}
@media (max-width: 1024px) {
  .opportunities__card {
    max-width: 13.75rem;
  }
}
.opportunities__tabs {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.opportunities__tab {
  display: flex;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 0 1rem;
  color: #666666;
}
.opportunities__block {
  padding: 1.3125rem 0 2.0625rem 1.3125rem;
  max-width: 23.3125rem;
  min-width: 23.3125rem;
  max-height: 10rem;
  min-height: 10rem;
  background: #1F1F1F;
}
.opportunities__block h3 {
  margin-bottom: 0.4375rem;
  color: #FFFFFF;
}
.opportunities__block p {
  margin-bottom: 0.9375rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #E0E0E0;
}
.opportunities__github {
  display: flex;
  flex-direction: column;
  max-width: 23.3125rem;
  height: 6.5625rem;
  border-bottom: 2px solid #2A2A2A;
  padding: 1.25rem 1.25rem 1.125rem;
}
.opportunities__github--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.opportunities--rectangle {
  max-width: 100%;
  height: 51.75rem;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  border: 0.125rem #E0E0E0;
  border-style: dashed none;
  padding: 3.4375rem 0;
}

.header-opportunities {
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 24.25rem;
  min-width: 24.25rem;
  color: #E0E0E0;
}
.header-opportunities__title {
  margin: 0 0 0.75rem;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  color: #FFFFFF;
}

.card {
  line-height: 1.75rem;
  display: flex;
  align-items: flex-start;
}
.card__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.card__content {
  color: #E0E0E0;
}

.card-opportunities {
  max-width: 10.3125rem;
  min-height: 10.3125rem;
}
.card-opportunities__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.card-opportunities__content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #E0E0E0;
}
.card-opportunities__button {
  font-size: 0.75rem;
  line-height: 1rem;
}

.tabs-opportunities__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-opportunities :first-child {
  color: #FFFFFF;
}

.citation {
  text-align: center;
  margin: 8rem auto;
}
.citation__title {
  margin-bottom: 3.125rem;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  color: #BBBBBB;
}
.citation__title span {
  color: #FFFFFF;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 75.3125rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 56.25rem;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: auto;
  border-bottom: 0.125rem solid #666666;
  padding-bottom: 8rem;
}
.footer__logo img {
  margin-bottom: 2.25rem;
}
.footer__nav {
  display: flex;
  gap: 6.125rem;
}
@media (max-width: 1024px) {
  .footer__nav {
    gap: 3.0625rem;
  }
}
.footer__culumns {
  display: flex;
  flex-direction: column;
}
.footer__culumns :first-child {
  margin-bottom: 1.1875rem;
  color: #666666;
}
.footer__culumns :not(:first-child) {
  margin-bottom: 0.75rem;
  color: #EEEEEE;
}
.footer__column {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer__bootom {
  padding: 2.0625rem 0 7rem;
}
.footer__info {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
}
.icons {
  display: flex;
  gap: 1.5rem;
}