.header {
    &__button {
        gap: 16px;
        display: flex;
        border-radius: 10px;
        font-size: 16px;
        line-height: 12px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        cursor: pointer;
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__start {
        padding: 7px 11px;
        color: white;

        min-width: 128px;
        min-height: 30px;
        appearance: none;
        border: 0;      
        border-radius: 5px;
        background: #24B47E;
    }

    &__sign {
        background: none;
        color: #EEEEEE;
    }

    &__blue {
        background: #1374EF;
        min-width: 92px;
        min-height: 32px;
    }

    &__example {
        padding: 2px 10px;
        max-width: 97px;
        max-height: 20px;
        text-align: center;
        color: #4299E1;
        background: rgba(49, 130, 206, 0.1);
        border-radius: 9999px;  
    }

    &__tab {
        text-align: center;
        padding: 7px 11px;
        min-width: 90px;
        max-width: 90px;
        min-height: 30px;
        max-height: 30px;
        background: #2A2A2A;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 4px;
    }
}
