.header {
    &__button {
        gap: pxToRem(16px);
        display: flex;

    }
}
.button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    border-radius: pxToRem(4px);
    color: #FFFFFF;
    padding: pxToRem(8px) pxToRem(16px);

    cursor: pointer;

    &--start {
        background: #24B47E;
    }

    &__sign {
        background: none;
        color: #EEEEEE;
    }

    &__blue {
        background: #1374EF;
    }

    &__opportunities {
        margin-bottom: pxToRem(112px);
        padding: pxToRem(2px) pxToRem(10px);
        max-width: pxToRem(97px);
        max-height: pxToRem(20px);
        text-align: center;
        color: #4299E1;
        background: rgba(49, 130, 206, 0.1);
        border-radius: pxToRem(9999px);  
    }

    &__tab {
        display: flex;
        text-align: center;
        padding: pxToRem(7px) pxToRem(11px);
        min-width: pxToRem(90px);
        min-height: pxToRem(30px);
        background: #2A2A2A;
        box-shadow: 0px pxToRem(2px) 0px rgba(0, 0, 0, 0.043);
        border-radius: pxToRem(4px);
    }

    &__doc {
        background: #2A2A2A;
        border: pxToRem(1px) solid #2A2A2A;
        box-shadow: 0px pxToRem(2px) 0px rgba(0, 0, 0, 0.043);
        border-radius: pxToRem(4px);
    }
}
