.citation {
    text-align: center;
    margin: pxToRem(128px) auto;

    &__title {
        margin-bottom: pxToRem(50px);
        font-size: pxToRem(36px);
        line-height: pxToRem(43px);

        color: #BBBBBB;
            span {
                color: #FFFFFF;
            }
    }
}
