.dashboard {
    @include containerCenter();
    margin-bottom: pxToRem(224px);

    &__body {
        @include columnBetween();
        gap: pxToRem(64px);
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);

        p {
            font-size: pxToRem(14px);
            line-height: pxToRem(20px);
            color: #E0E0E0;
        }
    }

    &__title {
        font-size: pxToRem(48px);
        line-height: pxToRem(58px);
    }

    &__subtitle {
        line-height: pxToRem(28px);
        color: #E0E0E0;
    }

    &__footer {
        @include rowBetween();
    }

    &__tabs {
    }

    &__tab {
    }

    &__img {
    }

    &__content {
    }

    &__text {
        h2 {
            margin-bottom: pxToRem(20px);
        }
        p {
            margin-bottom: pxToRem(44px);
            font-size: pxToRem(16px);
            line-height: pxToRem(24px);
            color: #E0E0E0;
        }
        h3 {
            font-size: pxToRem(18px);
            line-height: pxToRem(28px);
            margin-bottom: pxToRem(16px);
        }
    }

    &__block {
        padding: pxToRem(21px) 0 pxToRem(33px) pxToRem(21px);
        max-width: pxToRem(373px);
        min-width: pxToRem(373px);
        max-height: pxToRem(160px);
        min-height: pxToRem(160px);
        background: #1F1F1F;

        h3 {
            margin-bottom: pxToRem(7px);
        }
        p {
            margin-bottom: pxToRem(15px);
            font-size: pxToRem(13px);
            line-height: pxToRem(20px);
            color: #E0E0E0;
            img {
                margin: 0 pxToRem(10px);
            }
        }
    }

    &__button {
        padding: pxToRem(20px) 0 0 pxToRem(21px);
        max-width: pxToRem(373px);
        min-width: pxToRem(373px);
        max-height: pxToRem(105px);
        min-height: pxToRem(105px);
        border-bottom: solid pxToRem(1px) #1F1F1F;;
        font-size: pxToRem(14px);
        color: #E0E0E0;
    }

    &__github {
        display: flex;
        gap: pxToRem(10px);
        align-items: center;
        margin-bottom: pxToRem(12px);
    }
}