.example {
    @include rowBetween();
    @include containerCenter();

    &__body {
        @include columnBetween();
    }

    &__header {
        @include fontRobotoRegular();
        max-width: 388px;
        min-width: 388px;
        margin-bottom: 80px;


        p:not(:last-child) {
            margin-bottom: 19px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        max-width: 388px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
    }

    &__tab {
        display: flex;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin: 0 0 16px;
        color: #666666;
    }

}
.header-example {
    font-size: 14px;
    line-height: 20px;

    color: #E0E0E0;

    &__title {
        margin: 0 0 12px;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #E0E0E0;

            img {
                padding: 9px 8px 9px 13px;
            }
    }
}
.card-example {
    max-width: 165px;
    min-height: 165px;

    &__title {
        font-size: 18px;
        line-height: 28px;
    }

    &__content {
        font-size: 14px;
        line-height: 20px;

        color: #E0E0E0;
    }

    &__button {
        font-size: 12px;
        line-height: 16px;
        
    }
}
.tabs-example {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        :first-child {
            color: #FFFFFF;
        }
}
