.example {
    @include rowBetween();
    @include containerCenter();

    &__body {
        @include columnBetween();
    }

    &__header {
        @include fontRobotoRegular();
        max-width: pxToRem(388px);
        min-width: pxToRem(388px);
        margin-bottom: pxToRem(80px);


        p:not(:last-child) {
            margin-bottom: pxToRem(19px);
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        max-width: pxToRem(388px);
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);
    }

    &__tabs {
        display: flex;
        flex-direction: column;
    }

    &__tab {
        display: flex;
        font-size: pxToRem(12px);
        line-height: pxToRem(16px);
        text-align: center;
        margin: 0 0 pxToRem(16px);
        color: #666666;
    }

}
.header-example {
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);

    color: #E0E0E0;

    &__title {
        margin: 0 0 pxToRem(12px);
        font-size: pxToRem(36px);
        line-height: pxToRem(43px);
        color: #FFFFFF;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: pxToRem(13px);
        font-weight: 400;
        font-size: pxToRem(14px);
        line-height: pxToRem(16px);
        color: #E0E0E0;

            img {
                padding: pxToRem(9px) pxToRem(8px) pxToRem(9px) pxToRem(13px);
            }
    }
}
.card-example {
    max-width: pxToRem(165px);
    min-height: pxToRem(165px);

    &__title {
        font-size: pxToRem(18px);
        line-height: pxToRem(28px);
    }

    &__content {
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);

        color: #E0E0E0;
    }

    &__button {
        font-size: pxToRem(12px);
        line-height: pxToRem(16px);
        
    }
}
.tabs-example {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        :first-child {
            color: #FFFFFF;
        }
}
