.footer {
    display: flex;
    flex-direction: column;
    @include containerCenter();

    &__top {
        @include rowBetween();
        border-bottom: pxToRem(2px) solid #666666;
        padding-bottom: pxToRem(128px);
    }

    &__logo {
        img {
            margin-bottom: pxToRem(36px);
        }
    }

    &__nav {
        display: flex;
        gap: pxToRem(98px);

        @media (max-width: 1024px) {
            gap: pxToRem(49px);
        }
    }

    &__culumns {
        display: flex;
        flex-direction: column;
            :first-child {
                margin-bottom: pxToRem(19px);
                color: #666666;
            }
            :not(:first-child) {
                margin-bottom: pxToRem(12px);
                color: #EEEEEE;
            }
    }

    &__column {
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);
    }

    &__bootom {
        padding: pxToRem(33px) 0 pxToRem(112px);
    }

    &__info {
        font-size: pxToRem(16px);
        line-height: pxToRem(24px);

        color: #666666;
    }

    &__mode {
    }
}
.icons {
    display: flex;
    gap: pxToRem(24px);


}

