.footer {
    display: flex;
    flex-direction: column;
    @include containerCenter();

    &__top {
        @include rowBetween();
        margin: 0 pxToRem(-15px);
    }

    &__logo {
        padding: 0 pxToRem(15px);
        img {
            margin-bottom: pxToRem(36px);
        }
    }

    &__nav {
        display: flex;
        gap: pxToRem(98px);
        padding: 0 pxToRem(15px);

        @media (max-width: 1024px) {
            gap: pxToRem(49px);
        }
    }

    &__culumns {
        display: flex;
        flex-direction: column;
            :first-child {
                margin-bottom: pxToRem(19px);
                color: #666666;
            }
            :not(:first-child) {
                margin-bottom: pxToRem(12px);
                color: #EEEEEE;
            }
    }

    &__column {
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);
    }

    &__bootom {
        padding: pxToRem(33px) 0 pxToRem(112px);
        margin: 0 pxToRem(-15px);
    }

    &__info {
        font-size: pxToRem(16px);
        line-height: pxToRem(24px);
        padding: 0 pxToRem(15px);


        color: #666666;
    }

    &__mode {
        padding: 0 pxToRem(15px);

    }
}

.line {
    border-bottom: pxToRem(2px) solid #666666;
    padding-bottom: pxToRem(128px);
}

.icons {
    display: flex;
    gap: pxToRem(24px);


}

