.header {
    display: grid;
    height: pxToRem(65px);
    color: #EEEEEE;
    @include containerCenter();
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;

    &__items {
        @include flexCenter();
        justify-content: space-between;
    }

    &__item {
        @include flexCenter();
        gap: pxToRem(40px);
        cursor: pointer;
    }
}
.nav {
    &__item {
        padding: pxToRem(4px);
        margin: pxToRem(16px);
        .arrow {
            margin: 0 0 pxToRem(3px) pxToRem(10px);
            border: solid white;
            border-width: 0 pxToRem(3px) pxToRem(3px) 0;
            display: inline-block;
            padding: pxToRem(3px);
        }
        .down {
            transform: rotate(45deg);
        }
    }
}

