@mixin flexCenter {
    display: flex;
    align-items: center;
}
.header {
    display: grid;
    height: 65px;
    color: #EEEEEE;
    max-width: 1165px;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;

    &__items {
        @include flexCenter();
        justify-content: space-between;
    }

    &__item {
        @include flexCenter();
        gap: 40px;
        cursor: pointer;
    }
}
.nav {
    &__item {
        padding: 4px;
        margin: 16px;
        .arrow {
            margin: 0 0 3px 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }
        .down {
            transform: rotate(45deg);
        }
    }
}

