@mixin fontRobotoRegular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
@mixin containerCenter {
    max-width: pxToRem(1165px);
    margin: 0 auto;
}
@mixin flexCenter {
    display: flex;
    align-items: center;
}
@mixin columnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin rowBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}