@mixin fontRobotoRegular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
@mixin containerCenter {
    max-width: pxToRem(1205px);
    margin: 0 auto;
    padding: 0 pxToRem(15px);
    
    @media (max-width: 1024px) {
        max-width: pxToRem(900px);
    }
}
@mixin flexCenter {
    display: flex;
    align-items: center;
}
@mixin columnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
}
@mixin rowBetween {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: auto;
}
@mixin rowReverseBetween {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex: auto;
}