.opportunities {
    @include rowBetween();
    @include containerCenter();
    flex: 1 1 50%;
    margin: 0 auto pxToRem(167px);

    &__body {
        @include containerCenter();
        @include columnBetween();
        // max-width: pxToRem(1165px);
        gap: pxToRem(64px);

        &--nogap {
            gap: 0;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);
    }


    &__main {
        @include fontRobotoRegular();
        margin: 0 -15px;


        &--row {
            @include rowBetween();
            flex: 1 1 50%;
        }

        &--reverse {
            @include rowReverseBetween();
            flex: 1 1 50%;
        }
    }

    &__column {
        padding: 0 pxToRem(15px);
    }

    &__img {
        justify-content: flex-end;

        img {
            max-width: 100%;

        }
    }

    &__text {
        @include columnBetween();
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: pxToRem(12px);

        line-height: pxToRem(28px);
            img {
            max-width: 100%;
            }
    }

    &__title {
        font-weight: 700;
        font-size: pxToRem(48px);
        line-height: pxToRem(58px);

        color: #FFFFFF;
    }

    &__subtitle {
        font-size: pxToRem(18px);
        line-height: pxToRem(28px);

        color: #E0E0E0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);
        max-width: pxToRem(422px);

        font-size: pxToRem(14px);
        line-height: pxToRem(28px);

        color: #E0E0E0;
    }

    &__footer {
        @include rowBetween();
        display: inline-flex;
        align-items: flex-end;
        
        &--container {
            max-width: pxToRem(388px);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);
        max-width: pxToRem(280px);

        @media (max-width: 1024px) {
            max-width: pxToRem(220px);

        }

    }

    &__tabs {
        display: flex;
        flex-direction: column;
    }

    &__tab {
        display: flex;
        font-size: pxToRem(12px);
        line-height: pxToRem(16px);
        text-align: center;
        margin: 0 0 pxToRem(16px);
        color: #666666;


    }

    &__block  {
        padding: 1.3125rem 0 2.0625rem 1.3125rem;
        max-width: 23.3125rem;
        min-width: 23.3125rem;
        max-height: 10rem;
        min-height: 10rem;
        background: #1F1F1F;

        h3 {
            margin-bottom: 0.4375rem;
            color: #FFFFFF;
        }

        p {
            margin-bottom: 0.9375rem;
            font-size: 0.8125rem;
            line-height: 1.25rem;
            color: #E0E0E0;
        }
    }

    &__github {
        display: flex;
        flex-direction: column;
        max-width: pxToRem(373px);
        height: pxToRem(105px);
        border-bottom: 2px solid #2A2A2A;
        padding: pxToRem(20px) pxToRem(20px) pxToRem(18px);

        &--row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: pxToRem(4px);
        }
    }

    &--rectangle {
        max-width: 100%;
        height: pxToRem(828px);
    
        display: flex;
    
        @include fontRobotoRegular();
        
        border: pxToRem(2px) #E0E0E0;
        border-style: dashed none;

        padding: pxToRem(55px) 0;

    }

}
.header-opportunities {
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);

    max-width: pxToRem(388px);
    min-width: pxToRem(388px);

    color: #E0E0E0;

    &__title {
        margin: 0 0 pxToRem(12px);
        font-size: pxToRem(36px);
        line-height: pxToRem(43px);
        color: #FFFFFF;
    }
}

.card {
    line-height: pxToRem(28px);
    display: flex;
    align-items: flex-start;

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: pxToRem(8px);
    }
    
    &__content {
        color: #E0E0E0;
    }
}

.card-opportunities {
    max-width: pxToRem(165px);
    min-height: pxToRem(165px);

    &__title {
        font-size: pxToRem(18px);
        line-height: pxToRem(28px);
    }

    &__content {
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);

        color: #E0E0E0;
    }

    &__button {
        font-size: pxToRem(12px);
        line-height: pxToRem(16px);
        
    }
}
.tabs-opportunities {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

    }
    
        :first-child {
            color: #FFFFFF;
        }
}
