////////////////// *fixe center icon



.rectangle {
    margin: pxToRem(73px) 0 pxToRem(167px);
    max-width: 100%;
    height: pxToRem(828px);

    display: flex;

    @include fontRobotoRegular();
    
    border: pxToRem(2px) #E0E0E0;
    border-style: dashed none;

    &__body {
        @include columnBetween();
        @include containerCenter();
        max-width: pxToRem(1165px);
        padding: pxToRem(55px) 0;
    }

    &__header {
        @include rowBetween();
        flex: 1 1 50%;
    }

    &__text {
        @include columnBetween();
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: pxToRem(12px);

        line-height: pxToRem(28px);


    }

    &__title {
        font-weight: 700;
        font-size: pxToRem(48px);
        line-height: pxToRem(58px);


    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);
        max-width: pxToRem(422px);

        font-size: pxToRem(14px);
        line-height: pxToRem(28px);
    }

    &__button {
        button {
            min-width: pxToRem(133px);
            min-height: pxToRem(38px);
        }
    }

    &__footer {
        @include rowBetween();

    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16px);
        max-width: pxToRem(280px);
    }
}

.card {
    line-height: pxToRem(28px);
    justify-content: flex-end;

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: pxToRem(8px);
    }
    
    &__content {
        color: #E0E0E0;
    }
}
