// @mixin columnBetween {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
// @mixin rowBetween {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }
// @mixin fontRobotoRegular {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
// }


////////////////// *fixe center icon



.rectangle {
    margin: 73px 0 167px;
    max-width: 100%;
    height: 828px;

    display: flex;

    @include fontRobotoRegular();
    
    border: 2px #E0E0E0;
    border-style: dashed none;

    &__body {
        @include columnBetween();
        max-width: 1165px;
        min-width: 1165px;
        margin: 0 auto;
        padding: 55px 0;

        color: #E0E0E0;
    }

    &__header {
        @include rowBetween();
    }

    &__text {
        @include columnBetween();
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 12px;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;

        color: #FFFFFF;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;

        color: #FFFFFF;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 422px;

        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    &__button {
        button {
            min-width: 133px;
            min-height: 38px;
        }
    }

    &__footer {
        @include rowBetween();

    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 280px
    }
}

.card {
    font-size: 18px;
    line-height: 28px;

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    &__subtitle {
        color: #FFFFFF;
    }

    &__content {
        color: #E0E0E0;
    }
}
